@model TestApp8.Models.ProfileViewModel
@{
    ViewBag.Title = "Profile";
}


    <div class="container" style="margin-top:50px;">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color:#ffda00;">
                プロフィール
            </div>
            <div class="panel-body">
                <form class="form-horizontal" >
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            @Html.DisplayNameFor(model => model.Name)
                        </label>
                        <div class="col-sm-10">
                            @Html.DisplayFor(model => model.Name, new { type = "name", @value = Model.Name })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            @Html.DisplayNameFor(model => model.Email)
                        </label>
                        <div class="col-sm-10">
                            @Html.DisplayFor(model => model.Email, new { type = "email", @value = Model.Email })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            @Html.DisplayNameFor(model => model.Prefucture)
                        </label>
                        <div class="col-sm-10" style="width: 160px;">
                            @Html.DisplayFor(model => model.Prefucture)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            @Html.DisplayNameFor(model => model.Address)
                        </label>
                        <div class="col-sm-10">
                            @Html.DisplayFor(model => model.Address, new { type = "text", @value = Model.Address })
                        </div>
                    </div>
                    <label style="color:#ff0000">@Html.ValidationSummary()</label>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                                                @Html.ActionLink(
                      "編集",               // リンクテキスト
                      "Edit",            // アクション名
                      new
                           {
                               name = Model.Name,
                               email = Model.Email,
                            prefucture = Model.Prefucture,
                               address = Model.Address
                           }
                    )
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


@*<div>
    <table class="table table-condensed table-striped table-bordered">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayFor(model => model.Name)
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayFor(model => model.Email)
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Prefucture)
            </th>
            <th>
                @Html.DisplayFor(model => model.Prefucture)
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayFor(model => model.Address)
            </th>
        </tr>
        <tr>
            <th>
                <div>
                    @Html.ActionLink(
                      "編集",               // リンクテキスト
                      "Edit",            // アクション名
                      new
                           {
                               name = Model.Name,
                               email = Model.Email,
                            prefucture = Model.Prefucture,
                               address = Model.Address
                           }
                    )
                </div>
            </th>
            <th></th>
        </tr>

    </table>
</div>*@